.sidebar{
    background-color: rgb(29, 34, 32);
    position: fixed;
   
   
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}