.bookCounter {
  background-color: #252d31;
  height: 60vh;
}
.container h3 {
  font-size: 40px;
  font-weight: 500;
  color: white;
}
.bookCount h5 {
  font-size: 30px;
  font-weight: 200;
  color: white;
}
.bookCount h4 {
  font-size: 30px;
  font-weight: 200;
  color: white;
  border-bottom: 2px solid transparent;
}
.bookCount h4:hover {
  border-bottom: 2px solid rgb(218, 89, 3);
}
