.backgroundAcademic{
    background-color: #cfd1d3!important;
}
.backgroundAcademic h1{
    color:rgb(228, 68, 9);
    font-weight:bold;
}
.backgroundAcademic h5{
    border-bottom: 3px solid rgb(228, 68, 9);
}