.cardBackGround {
  background-color: rgba(211, 207, 197, 0.801);
  height: 100vh;
}
.regContainer {
  background-color: rgba(32, 27, 27, 0.795);
  border-radius: 30px;
  padding: 30px;
  color: white;
}
.cardBtn {
  text-align: center;
  justify-content: center;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}
