.footerBackground{
    background-color: rgb(17, 10, 10)!important;
}
.top{
    height: 50px;
    background-color:#F3C435;
    color:black;
    padding: 12px;
    text-align: center;
}
.body{
    color: white;
    padding: 50px;
}
.body  .details {
    text-decoration: none;
    color:rgb(252, 250, 146)
  }
.unlistedItem{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}
.links{
    color: rgb(255, 255, 255);
    text-decoration: rgb(0, 0, 0);
}
.bottom{
    height: 50px;
    background-color: #252d31;
    color: white;
    text-align: center;
    padding: 15px;
}